.container
  position: relative
  max-width: 1240px
  margin: auto
  width: 90%
.row
  position: relative
  display: flex
  align-items: flex-start
  justify-content: space-between
.col
  &-32
    flex-basis: 31.7%
  &-45
    width: 45%
  &-55
    width: 55%
  &-37-8
    width: 37.8%
  &-61-7
    width: 61.7%

