@media screen and ( max-width: 1230px )
  .contacts
    &__phone
      margin-right: 1.5rem
  .nav
    &__item
      margin-right: 1.5rem
@media screen and ( min-width: 991px )
  .menu
    &__logo
      &:hover
        color: lighten($primary, 10)
  .nav
    &__item
      &:hover
        color: $primary
  .contacts
    &__phone
      &:hover
        text-decoration: none
        color: $light
  .button
    &:hover
      cursor: pointer
    &--primary
      transition: box-shadow 0.3s 
      &:hover
        box-shadow: none
        background-color: rgba($primary, 0.8)
    &--outline
      transition: box-shadow 0.3s 
      &:hover
        border-color: $primary
        box-shadow: 0 0 40px rgba($primary, 0.5) inset
  .hero
    &__scroll-down
      &:hover
        color: $primary
  .instagram
    &__link
      &:hover
        color: lighten($primary, 10)
@media screen and ( max-width: 1096px )
  html
    font-size: 12px
  .menu
    &__logo
      font-size: 1rem
@media screen and ( max-width: 991px ) and (min-width: 768px )
  .logo
    display: none
@media screen and ( max-width: 991px ) 
  .menu
    justify-content: space-between
  .contacts
    display: flex
    align-items: center
    &__phone
      margin-right: 1rem  
  .nav
    &__item
      margin-right: 1rem
  .hero
    &__content
      margin-left: 3.98rem
@media screen and ( max-width: 767px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
@media screen and ( max-width: 575px)
  .contacts
    &__button
      display: none
    &__phone
      margin: 0
      color: $light
      text-decoration: none
  .hero
    &__content
      margin-left: 0
    &__scroll-down
      display: none
    &__button
      width: 100%
      margin-right: 0
      margin-bottom: 2rem
    &__title
      font-size: 1.9rem
      max-width: 26.75rem
@media screen and ( max-width: 365px )
    &__text
      font-size: 1.5rem
      min-width: 25rem
    