.design
  &__section-title
    color: lighten($dark, 1.96)
    margin-bottom: 3.3rem
  &__section-subtitle
    max-width: 52.92rem
    color: $dark-light
    margin: 1.3rem auto 0 auto
.card
  &__text-start
  text-align: left
  padding-left: 2.4rem

  
    