.footer
  background: $dark url("../img/footer/footer-bg.jpg") no-repeat center/cover
  &-wrap
    background: $black url("../img/footer/footer-modal-bg.svg") no-repeat center/cover
    max-width: 63.07rem
    margin: auto
    padding: 2.5rem
  &__form
    max-width: 37.142rem
    margin: auto
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  &__title
    text-align: center
    margin: 0
    font-family: $fyeseva
    font-weight: normal
    font-size: 20px
    text-transform: uppercase
    color: $light
    margin-bottom: 3.314rem
  &__input-group
    display: flex
    flex-direction: column
    width: 44%
    margin-bottom: 3.082rem
    &--full-width
      width: 100%
      margin-bottom: 3.182rem
  &__policy
    color: $light
    min-width: 100%
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 3.603rem
  &__button
    margin: auto
    padding: 16px 10px
    min-width: 200px
    font-size: 15px
    outline-color: $light