.projects
  &-lines
    position: absolute
    top: 50vh
    width: 100%
    opacity: 0.2    
.control
  &-lines
    position: absolute
    width: 100%    
    opacity: 0.5  
.team
  &-lines
    position: absolute    
    width: 100%
    opacity: 0.5   

    